<div class="main-toolbar">
  <div class="icon">
    <span (click)="toReturnToHomepage($event)" *ngIf="layoutMode.WEB">
      <i class="material-icons">
        arrow_back
      </i>
    </span>
    <span (click)="showDrawer($event)" *ngIf="layoutMode.HANDSET">
      <i class="material-icons">
        list
      </i>
    </span>
  </div>
  <div class="title"><h3 class="title">Codelab Title</h3></div>
  <div class="countdown" title="Time remaining">
    <div class="schedule-icon">
      <i class="material-icons">
        schedule
      </i>
    </div>
    <span class="custom-codelab">slide.timeRemaining</span>
  </div>
</div>
