#layout-header {
  background-color: #FFFFFF;
  box-sizing: border-box;
  display: block;
  padding: 0;
  height: 70px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 256px;
  width: 100%;
  z-index: 9997;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
