<div class="mat-elevation-z8">
  <div id="layout-topbar">
    <a class="menu-button" href="#" [ngStyle]="{'display': visibleSidebar ? 'none' : 'inline-block' }" (click)="onMenuClick($event)">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
<div class="ui-g-12">
  <div id="layout-sidebar" [ngClass]="{'active': menuActive}">
    <mat-vertical-stepper #stepper style="color: #1a73e8">
      <mat-step *ngFor="let slide of slides" [optional]="true">
        <ng-template matStepLabel>{{slide.id}}</ng-template>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <div class="layout-mask" *ngIf="menuActive"></div>
  <div id="layout-content">
    <div class="ui-g-12">
      <div *ngFor="let slide of slides">
        <div class="fade" id="{{slide.id}}" [ngStyle]="{'display': slide.id == stepper.selectedIndex ? 'block' : 'none' }">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{slide.name}}</mat-card-title>
              <mat-card-subtitle>{{stepper.selectedIndex}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div ui-g>
        <div id="footer">
          <div>
            <button id="left-button" mat-raised-button [ngStyle]="{'display': stepper.selectedIndex ? '' : 'none'}" (click)="move((activeIndex - 1))">Back</button>
          </div>
          <div>
            <button id="right-button" mat-raised-button (click)="move(activeIndex + 1)">Next</button>
          </div>
        </div>
      </div>
  </div>
</div>