<div class="mat-elevation-z8">
  <div id="layout-topbar">
    <a class="menu-button" href="#" [ngStyle]="{'display': visibleSidebar ? 'none' : 'inline-block' }" (click)="!opened">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
<div class="ui-g">
  <div id="layout-sidebar">
    <!--<p-steps [model]="items" styleClass="steps-custom" [(activeIndex)]="activeIndex" [readonly]="false"
      ></p-steps>-->

    <mat-vertical-stepper [linear]='true' #stepper>
      <mat-step>
        <ng-template matStepLabel>First Slide</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Second Slide</ng-template>
      </mat-step>
      <mat-step>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <div id="layout-content" class="ui-g">
    <div *ngFor="let slide of slides">
      <div class="fade" id="{{slide.id}}" [ngStyle]="{'display': slide.id == stepper.selectedIndex ? 'block' : 'none' }">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{slide.name}}</mat-card-title>
            <mat-card-subtitle>{{stepper.selectedIndex}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div ui-g>
    <div id="footer" fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="380%">
      <button mat-raised-button id="left-button" *ngIf="stepper.selectedIndex" (click)="move((activeIndex - 1))">Back</button>
      <button mat-raised-button id="right-button" (click)="move(activeIndex + 1)">Next</button>
    </div>
  </div>
</div>


{{visibleSidebar}}