@charset "UTF-8";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
/* Extra small devices (phones, 600px and down) */
/*  ----------------------------------------------------------------------------------------------------- */


html {
  height: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Roboto', "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #404C51;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
}

/*#layout-topbar .menu-button {*/
  /*display: none;*/
  /*color: #ffffff;*/
  /*font-size: 24px;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 0;*/
  /*width: 60px;*/
  /*height: 60px;*/
  /*line-height: 58px;*/
  /*text-align: center;*/
  /*transition: background-color .3s;*/
/*}*/

/*#layout-topbar .menu-button:hover {*/
  /*background-color: #1a73e8;*/
/*}*/


/*#layout-topbar .menu-button i {*/
  /*line-height: inherit;*/
/*}*/



/*@media screen and (max-width: 64em) {*/
  /*.layout-mask {*/
    /*display: block;*/
  /*}*/

  /*#layout-topbar {*/
    /*text-align: center;*/
  /*}*/

  /*#layout-topbar .menu-button {*/
    /*display: inline-block;*/
  /*}*/

  /*#layout-topbar .logo {*/
    /*margin: 7px 0 7px 0;*/
  /*}*/

  /*.topbar-menu {*/
    /*background-color: #363c3f;*/
    /*float: none;*/
    /*width: 100%;*/
    /*height: 40px;*/
    /*margin: 0;*/
    /*text-align: center;*/
  /*}*/

  /*#layout-sidebar {*/
    /*top: 100px;*/
    /*left: -260px;*/
    /*transition: left .3s;*/
    /*z-index: 9999;*/
  /*}*/

  /*#layout-sidebar.active {*/
    /*left: 0;*/
  /*}*/

  /*#layout-content {*/
    /*margin-left: 0;*/
    /*padding-top: 50px;*/
  /*}*/

  /*#footer {*/
    /*width: 100%;*/
  /*}*/

  /*#right-button {*/
    /*margin-right: 30px;*/
  /*}*/

  /*#left-button {*/
    /*margin-left: 15px;*/
  /*}*/
/*}*/

/*@media (max-width: 768px) {*/
  /*#footer {*/
    /*width: 100%;*/
  /*}*/

/*}*/

/*!* Animation *!*/
/*@-webkit-keyframes fadeInDown {*/
  /*from {*/
    /*opacity: 0;*/
    /*-webkit-transform: translate3d(0, -20px, 0);*/
    /*transform: translate3d(0, -20px, 0);*/
  /*}*/

  /*to {*/
    /*opacity: 1;*/
    /*-webkit-transform: none;*/
    /*transform: none;*/
  /*}*/
/*}*/

/*@keyframes fadeInDown {*/
  /*from {*/
    /*opacity: 0;*/
    /*transform: translate3d(0, -20px, 0);*/
  /*}*/

  /*to {*/
    /*opacity: 1;*/
    /*transform: none;*/
  /*}*/
/*}*/

/*@-webkit-keyframes fadeOutUp {*/
  /*from {*/
    /*opacity: 1;*/
  /*}*/

  /*to {*/
    /*opacity: 0;*/
    /*-webkit-transform: translate3d(0, -20px, 0);*/
    /*transform: translate3d(0, -20px, 0);*/
  /*}*/
/*}*/

/*@keyframes fadeOutUp {*/
  /*from {*/
    /*opacity: 1;*/
  /*}*/

  /*to {*/
    /*opacity: 0;*/
    /*-webkit-transform: translate3d(0, -20px, 0);*/
    /*transform: translate3d(0, -20px, 0);*/
  /*}*/
/*}*/
